<f:widget.paginate objects="{events}" as="paginatedEvents">
    <f:for each="{events}" as="event">
        <div>
            <h4 align="top">
                <f:link.action action="item" controller="EventInventory"
                               arguments="{event : event}">
                    {event.name}
                </f:link.action>
            </h4>
            <p align="top">
                <f:format.crop maxCharacters="20">{event.description}</f:format.crop>
            </p>
            <p align="top">{event.date_time}</p>
            <hr/>
        </div>
    </f:for>
</f:widget.paginate>